<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>plants</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/home.css">
</head>


    <nav>
        <img src="./images/logo.jpg" alt="Logo">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="#" >plants</a></li>
            <li><a href="guide.html" >Guides</a></li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="plantcaretrack.html">PlantCareTracker</a></li>
            <li><a href="login.html">Account</a></li>
            <li class="search-bar"><input type="text" placeholder="Search Plants"><button id="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button></li>
        </ul>
    </nav>
    <hr class="hr1">
   
    
</body>
</html>